body {
  font-family: CeraPRO-Regular;
}
.banner {
  background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/f98ab1c9-184b-448f-9a69-16805a73a70f_1320x376.png");
  background-size: 1500px 376px;
  height: 436px;
  width: 100%;
}
.imageBox {
  float: left;
  margin: 1%;
  width: 30%;
}
.list {
  float: left;
  width: 100%;
  font-family: "CeraPRO-Light";
}
.linking {
  color: #5f615f;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 0 10px 3px;
  /* border-bottom: 1px solid #f1f1f1; */
  margin: 0em;
  font-weight: initial;
}
.arrowBox {
  float: left;
  width: 80%;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}
.span {
  color: #83b748;
  text-decoration: none;
  font-size: 14px;
}
.link {
  color: #474b45;
  text-decoration: none;
  font-size: 20px;
  outline: none;
  border: none;
  background: transparent;
}
h3 {
  font-family: "CeraPRO-Medium";
}
p {
  color: #5f615f;
  font-weight: normal;
}
small {
  color: #858585;
}
.event {
  display: flex;
  flex-direction: row;
}
.imageBoxEvent {
  width: 25%;
  flex: 1;
  margin: 1%;
}

.event > .imageBoxEvent > img {
  margin: 1%;
}
.food {
  margin-left: 20%;
}
.lastFood {
  margin-right: 20%;
}
.arrow {
  color: gray;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .imageBoxEvent {
    width: 100%;
  }
  .event {
    flex-direction: column;
    margin-right: 2%;
  }
}
